@tailwind base;
@tailwind components;
@tailwind utilities;
.transition-transform {
  transition-property: transform;
}

.left-to-right-enter {
  transform: translateX(-100%);
}

.left-to-right-enter-active {
  transform: translateX(0%);
}
